<div id="<%= dom_id cocoapuff %>">

    <p>
      <strong>Cocoapuff:</strong>
      <%= cocoapuff.name %>
    </p>

    <!--<p>
      <strong>Archived:</strong>
      <%= cocoapuff.archived %>
    </p>-->


  
</div>

